---
const blogTitle = "Blog - Lyntropy";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{blogTitle}</title>

    <style>
      h1 {
        color: rgb(255, 157, 157);
      }
    </style>
  </head>
  <body>
    <a href="/">Home</a>
    <br />
    <a href="/about">About</a>
    <br />

    <h1>{blogTitle}</h1>

    <ul>
      <li>Post 1 <a href="/posts/post-1/">Read More</a></li>

      <li>Art is No Escape <a href="/posts/escapism">Read More</a></li>
    </ul>
  </body>
</html>
